* {
    font-family: 'Nanum Pen Script', cursive;
}

body {
    background-color: #bfd1e5;
}


.submit {
    background-color: #542344;
    color: white;
}

.submit-dark{
    color: #f59ca9;
}

.item {
    background-color: #f59ca9;
    border: 3px solid #542344;
}

.item h2 {
    margin: 0;
}

.done {
    text-decoration: line-through;
}


footer {
    text-align: center;
}

#slider-box{
    display: flex;
    justify-content: right;
    align-items: center;
}

#slider p{
    margin: 0 5px 0 0;
}

/*DARK MODE SWITCH*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}