*{
    font-family: 'Nanum Pen Script', cursive;
}

body {
    background-color: #bfd1e5;
}

.submit {
    background-color: #542344
}

.item {
    background-color: #f59ca9;
    border: 3px solid #542344;
}

.item h2 {
    margin: 0;
}

@media (min-width: 768px) {

}