* {
    font-family: 'Nanum Pen Script', cursive;
}

body {
    background-color: #bfd1e5;
}

.submit {
    background-color: #542344
}

.item {
    background-color: #f59ca9;
    border: 3px solid #542344;
}

.item h2 {
    margin: 0;
}

.done {
    text-decoration: line-through;
}

#place{
    position: absolute;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    top: 408px;
    left: 0;
    right: 0;
    text-align: center;
}

